body {
	font-size: 12px;
	font-family: verdana,helvetica,arial,sans-serif;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

nav {
	padding: 8px;
	border: 1px solid black;
	border-bottom: 1px dotted black;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

a:hover {
	border-bottom: 1px solid black;
}

article {
	text-align: left;
	padding: 8px;
	border: 1px solid black;
	border-top: none;
}

#submitButton {
	width: 100%;
}

#loginTable {
	width: 50%;
	margin: auto;
}

#navigationList {
	padding: 0;
}

#navigationList li {
	padding: 0;
	display: inline;
	padding: 5px 10px 5px 10px;
	border: 1px dotted black;
}

ul.inputList {
	list-style-type: none;
}

table input {
	width: 100%;
}

#loginButton {
	width: 100%;
}

#emailTable {
	width: 50%;
}

#emailTable textarea {
	width: 100%;
	height: 200px;
}